html{
    width: 100%;
}

body{
    margin: 0;
    padding: 0 18px;
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
}


.wrapper{
    width: 985px;
    margin: 18px auto;
    background-color: #f6f5f3;
}

.logo{
    margin-left: 743px;
    position: relative;
}

.logo::after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid #fff 58.5px;
    transform: rotate(45deg);
    top: 23px;
    left: 24px;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.comments{
    display: grid;
    grid-template-areas: 'control-left comment control-right '
                         'control-left . control-right'
                         'control-left pics control-right'
                         '. . .'
                         '. video .';
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 53px 125px 56px 361px;
    margin-top: 20px;
    
}

.comments p{
    font-size: 36px;
    color: #000000;
    font-family: "Arial";
    width: 645px;
    margin: 0 0 0 41px;
    text-indent: -18px;
    grid-area: comment;
}

.left_ctrl,
.right_ctrl{
    width: 59px;
    height: 59px;
    border-radius: 29px;
    box-shadow: 0.5px 0.866px 1px rgba(255,90,0,0.8);
    background-color: #ffdb49;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left_ctrl{
    grid-area: control-left;
    margin-left: 71px;
}

.right_ctrl{
    grid-area: control-right;
    margin-left: 6px;
}

.comments > img{
    grid-area: pics;
    margin-left: 37px;
}

.left_ctrl:hover,
.right_ctrl:hover,
.right_ctrl:hover > img,
.left_ctrl:hover > img,
.play:hover,
.play:hover > img{
    opacity: .8;
}

.video{
    grid-area: video;
    background-image: url(img/video.png);
    background-repeat: no-repeat;
    width: 641px;
    justify-self: center;
    display: flex;
    flex-flow: column;
}

.videohead{
    width: 641px;
    height: 50px;
    background-color: rgba(41,54,60,0.8);
    font-size: 29px;
    color: #ffffff;
    font-family: "Arial";
    display: flex;
    justify-content: center;
    align-items: center;
}

.play{
    width: 126px;
    height: 126px;
    border-radius: 63px;
    box-shadow: 0.5px 0.866px 1px rgba(255,90,0,0.8);
    background-color: #ffdb49;
    display: flex;
    align-items: center;
    margin: 72px auto 0;
}

.play img{
    margin-left: 45px;
}

.instruction{
    margin-top: 72px;
    display: flex;
    flex-flow: column;
}

.instruction h1{
    font-size: 47px;
    color: #000000;
    font-family: "Arial";
    align-self: center;
    margin: 0 0 35px;
    font-weight: 500;
}

.instruction .slogan{
    font-size: 42px;
    color: #000000;
    font-family: "Arial";
    align-self: center;
    margin-top: 75px;
}

.try{
    background-image: linear-gradient(0deg, #fee34a 0%, #feda00 100%);
    width: 317px;
    height: 70px;
    border: 0px;
    border-radius: 8px;
    font-size: 36px;
    color: #000000;
    font-family: "Arial";
    text-align: center;
    align-self: center;
    margin: 83px 0 65px;
}

.try:hover{
    background-image: linear-gradient(0deg, #feda00 0%, #fee34a 100%);
}

.recipe{
    display: grid;
    grid-template-areas: 'i1 i2 i3 i4'
                         '. . . .'
                         't1 t2 t3 t4'
                         '. . . .'
                         'd1 d2 d3 d4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 84px 8px 34px 15px 90px;
    margin-left: 43px;
}

.instruction .logos{
    display: flex;
    align-items: center;
}

.cat_logo{
    grid-area: i1;
}

.srch_logo{
    grid-area: i2;
}

.pick_logo{
    grid-area: i3;
}

.lang_logo{
    grid-area: i4;
}

.instruction .title{
    font-size: 30px;
    color: #000000;
    font-family: "Arial";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cat_title{
    grid-area: t1;
}

.srch_title{
    grid-area: t2;
}

.pick_title{
    grid-area: t3;
}

.lang_title{
    grid-area: t4;
}

.instruction .desc{
    width: 221px;
    height: 171px;
    font-size: 16px;
    color: #000000;
    font-family: "Arial";
}


.cat_desc{
    grid-area: d1;
}

.srch_desc{
    grid-area: d2;
}

.pick_desc{
    grid-area: d3;
}

.lang_desc{
    grid-area: d4;
}